
.container {
    font-family: roboto, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header, 
.b1,
.b3,
.footer {
    display: flex;
    justify-content: center;
}

.header,
.b1,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}


.header h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}
    
ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a:link, 
a:visited,
a:link:active,
a:visited:active {
    text-decoration: none;
    color: #E5E7EB;
}

.b1 {
    padding: 5%;
    gap: 16px;
}

.b1left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 30%;
}

.b1left, .b1 img {
    margin: 0;
    padding: 0;
}

.b1title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.b1left p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 8px 32px;
    border-radius: 12px;
}

.b1 img {
    max-width: 30%;
    max-height: 50%;
}

.b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0 5%;
}

.b2title {
    font-size: 34px;
    font-weight: 900;
    color: #1F2937;
}

.b2info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 12%;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.info img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    border: 3px #3882F6 solid;
}

.b3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 60%;
    max-width: 50%;
}

.qcontent {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
 .qspeaker {
     font-size: 24px;
     font-weight: bold;
     color: #1F2937;
     align-self: flex-end;
     margin: 0;
}

.b4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.cta {
    background-color: #3882F6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 12px;
    margin: 5% 0;
    padding: 2% 2%;
    width: 60%;
}

.ctabold {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.ctal2 {
    margin-top: 1px;
}

.b4 button {
    border: white solid 2px;
    padding: 8px 32px;
    align-self: center;
}

.footer {
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}
